h1 {
    font-family: "Helvetica","Helvetica Neue";
    font-size: 40px;
}

#header {
    background-color: #000000;
    color:#bf49dc;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    /* padding-left: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createdBy {
    color: #bf49dc;
    font-family: "Helvetica";
    font-size: 100px;
}

#img {
    width: 10%;
    height: 80%
}

.iconDelete {
    width: 5%;
    height: 60%;
    cursor: pointer;
}

body {
    background-color: rgb(242, 220, 246);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    background-color: #c574bf;
    box-shadow: 5px 5px 12px black;
    width: 50%;
    min-width: 700px;
    border-radius: 5px;
}

.emptyToDoDesactive {
    visibility: hidden;
}

.emptyToDoActive {
    background-color: rgb(243, 55, 55);
    width: 20%;
    border-radius: 10px;
    color: white;
    margin-left: 30%;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: -15px;
}
  
#inputButtonContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#toDoInput {
    outline: none;
    width: 75%;
    padding-left: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

.text {
    text-decoration: none;
}

.lineThroughText {
    text-decoration: line-through;
}
  
#addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    background: #e5cdeb;
    color: #000000;
    font-size: 20px;
    box-shadow: 1px 1px 5px black;
}

#addButton:hover {
    background: #a61ec8;
    color: #ffffff;
    border: #000000;
    transition: 0.4s;
}

#toDoListContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.checkboxInput {
    cursor: pointer;
    height: 100%;
    transform: scale(1.7);
}
  
.toDoContainer {
    width: 650px;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
  }
  
.toDoContainer span {
    width: 90%;
}

.completeText {
    color: lightgrey;
    text-decoration: line-through;
}
  
.completeCheckbox {
    transform: scale(1.8);
}
  